.admin-container{
	margin: 0;
	padding: 0;
	h1{
		color: red !important;
		font-size: 2rem;
	}
	div{
		width: 200px;
		height: 100vh;
		background-color: rgb(215, 213, 213);
		padding-top: 20px;
		box-shadow: 0 0 1px 0 gray;
		ul{
			li{
				list-style: none;
				a{
					color: black;
					text-decoration:wavy;
				}
			}
		}
	}
}